In [364]:
import pandas as pd

In [400]:
df_resume_1=pd.read_csv('raw_data/ResumeDataSet-1.csv')
df_resume_2=pd.read_csv('raw_data/ResumeDataSet-2.csv')
df_resume_3=pd.read_csv('raw_data/ResumeDataSet-3.csv')

# Cr√©ation du df_resume

**Objectif** : stocker toutes les donn√©es dans un seul DataFrame avec deux features : `Resume` et `Category`

In [401]:
df_resume=pd.DataFrame()

## Pr√©paration de `df_resume_1`

In [402]:
df_resume_1.head(3)

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...

In [403]:
#switcher les deux colonnes Category et Resume
df_resume_1 = df_resume_1[['Resume', 'Category']]

In [404]:
#importer df_resume_1 dans df_esume
df_resume=df_resume_1

In [405]:
df_resume

                                                Resume      Category
0    Skills * Programming Languages: Python (pandas...  Data Science
1    Education Details \r\nMay 2013 to May 2017 B.E...  Data Science
2    Areas of Interest Deep Learning, Control Syste...  Data Science
3    Skills √¢¬Ä¬¢ R √¢¬Ä¬¢ Python √¢¬Ä¬¢ SAP HANA √¢¬Ä¬¢ Table...  Data Science
4    Education Details \r\n MCA   YMCAUST,  Faridab...  Data Science
..                                                 ...           ...
957  Computer Skills: √¢¬Ä¬¢ Proficient in MS office (...       Testing
958  √¢¬ù¬ñ Willingness to accept the challenges. √¢¬ù¬ñ ...       Testing
959  PERSONAL SKILLS √¢¬Ä¬¢ Quick learner, √¢¬Ä¬¢ Eagerne...       Testing
960  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...       Testing
961  Skill Set OS Windows XP/7/8/8.1/10 Database MY...       Testing

[962 rows x 2 columns]

## Pr√©paration de `df_resume_2`

In [406]:
df_resume_2.head(3)

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [407]:
df_resume_2.loc[100]['Resume_str']

'         HR BENEFITS/LEAVE COORDINATOR       Summary    13 years of Human Resources experience and 27 years of administrative experience working in various settings\n*Professional, detail-oriented, excellent time-management skills, team player, open and honest communicator, effective at maintaining confidentiality and multi-tasker.      Skills        Proficient in all Microsoft applications and HRIS systems (Banner, PeopleAdmin, Personnel Management Information (PMIS) System and Benefits Eligibility System (BES), VRS Navigator (VNAV))            Experience     December 2016   to   Current     Company Name   City  ,   State     HR Benefits/Leave Coordinator        Provide consultation and assistance for all employee benefits.  Assist Retirement/Benefits Manager in counseling employees on retirements as well as generate retirement calculations.  Assist Retirement/Benefits Manager with retirement trainings.  Promote and coordinate all aspects of the Highlander Wellness Watch program.  Advise faculty/staff regarding leave policies and procedures.  Interpret and apply policies, procedures and guidelines.  Develop and present leave trainings for employees and supervisors.  Content editor for the HR newsletter and HR website committee.  Analyze and reconcile leave discrepancies.  Process and maintain Workers Compensation claims, short term disability claims and FMLA requests.  Coordinate return to work for employees on short term disability, FMLA and WC.  Maintain OSHA logs and reporting to include OSHA 301 and OSHA 300A reports.  Process employees leave corrections.  Process leave share requests and coordinate payments with payroll.  Calculate leave payouts for separating employees for payment.  Process reports in Banner (HRIS) to ensure leave policies and procedures are being adhered to and applied in regards to FLSA regulations.  Perform leave audits.  Provide programmatic support to employees and supervisors for the on-line leave reporting system.  Assist with other HR duties as needed to include job fairs, benefits fair, etc.  Maintain confidential and sensitive information.         November 2008   to   November 2016     Company Name   City  ,   State     HR Leave Coordinator        Advise faculty/staff regarding leave policies and procedures.  Interpret and apply policies, procedures and guidelines.  Develop and present leave trainings for employees and supervisors.  Analyze and reconcile leave discrepancies.  Process and maintain Workers Compensation claims, short term disability claims and FMLA requests.  Coordinate return to work for employees on short term disability, FMLA and WC.  Maintain OSHA logs and reporting to include OSHA 301 and OSHA 300A reports.  Process employees leave corrections.  Process leave share requests and coordinate payments with payroll.  Calculate leave payouts for separating employees for payment.  Process reports in Banner (HRIS) to ensure leave policies and procedures are being adhered to and applied in regards to FLSA regulations.  Assist with coordination of CommonHealth wellness program.  Perform leave audits.  Provide programmatic support to employees and supervisors for the on-line leave reporting system.  Assist with other HR duties as needed to include screening job applicants, new hire orientation, exit interviews, open enrollment for health insurance and flexible spending accounts, job fairs, benefits fair, etc.  Maintain confidential and sensitive information.         June 2004   to   November 2008     Company Name   City  ,   State     Personnel Transaction Specialist/Human Resource Assistant        Process new hires, transfers, promotions into Banner and PMIS systems.  Perform audits for payroll processing.  Process short term disability claims and FMLA requests.  Process leave share requests.  Coordinate docks with payroll.  Perform other duties and tasks as needed.  Maintain confidential and sensitive information.         August 2002   to   June 2004     Company Name   City  ,   State     Communications Operator        Refer patients to appropriate areas for treatment.  Assist patients with questions and concerns via phone or walk-ins.  Answer incoming calls on a seven-line phone system.  Page doctors in a timely manner.  Update call schedules as changes occur.  File.  Overhead all codes in a timely manner.  Maintain patient confidentiality.          Education and Training          Bluefield College   City  ,   State       Bachelor of Science  :   Organizational Management and Leadership    Organizational Management and Leadership            New River Community College            Associate of Applied Science  :   Business Management    Business Management        Activities and Honors    Society for Human Resources Management (SHRM)\nColleges and Universities Professional Association for Human Resources (CUPA-HR)      Skills    Benefits, consultation, Content, counseling, editor, HRIS, HR, insurance, all Microsoft, Navigator, newsletter, Page, Assist patients, payroll, payroll processing, Personnel Management, phone system, policies, reporting, research, phone, website   '

üôå **Warning** : the category word is probably already present in the resume. There is a risk of dataleackage.

In [408]:
df_resume_2=df_resume_2[['Resume_str', 'Category']].rename(columns={'Resume_str': 'Resume'})

In [409]:
df_resume_2['Resume'] = df_resume_2.apply(lambda row: row['Resume'].replace(row['Category'], '') if pd.notnull(row['Category']) else row['Resume'], axis=1)

In [410]:
df_resume_2

                                                 Resume  Category
0               ADMINISTRATOR/MARKETING ASSOCIATE\n\...        HR
1               SPECIALIST, US  OPERATIONS       Sum...        HR
2               DIRECTOR       Summary      Over 20 ...        HR
3               SPECIALIST       Summary    Dedicate...        HR
4               MANAGER         Skill Highlights    ...        HR
...                                                 ...       ...
2479           RANK: SGT/E-5 NON- COMMISSIONED OFFIC...  AVIATION
2480           GOVERNMENT RELATIONS, COMMUNICATIONS ...  AVIATION
2481           GEEK SQUAD AGENT         Professional...  AVIATION
2482           PROGRAM DIRECTOR / OFFICE MANAGER    ...  AVIATION
2483           STOREKEEPER II       Professional Sum...  AVIATION

[2484 rows x 2 columns]

In [411]:
df_resume=pd.merge(df_resume, df_resume_2, on=['Resume', 'Category'], how='outer')

In [412]:
df_resume

                                                 Resume      Category
0     Skills * Programming Languages: Python (pandas...  Data Science
1     Skills * Programming Languages: Python (pandas...  Data Science
2     Skills * Programming Languages: Python (pandas...  Data Science
3     Skills * Programming Languages: Python (pandas...  Data Science
4     Education Details \r\nMay 2013 to May 2017 B.E...  Data Science
...                                                 ...           ...
3441           ADVANCED LEVEL WHEELED VEHICLE MECHAN...      AVIATION
3442           RANK: SGT/E-5 NON- COMMISSIONED OFFIC...      AVIATION
3443           GOVERNMENT RELATIONS, COMMUNICATIONS ...      AVIATION
3444           GEEK SQUAD AGENT         Professional...      AVIATION
3445           PROGRAM DIRECTOR / OFFICE MANAGER    ...      AVIATION

[3446 rows x 2 columns]

## Pr√©paration de `df_resume_3`

In [413]:
df_resume_3.head()

,worker_id,task_id,task_response_id,ID,Resume_str,Resume_html,What is their work experience level?,What best describes their education level?,What industry and sub-sector (most recent work) best describes this resume?,"You selected ""N/A: Other Industry / Other Category"".....write in the best description (1-3 words) of what industry should be?"
0,J6TM2D4MANTG,da70f4c8-a26f-4330-993f-0c357de0225a,fc506e4e-99f9-435a-b571-bd1af0d5bcda,46514339,JOBS COORDINATOR / ESTIMATOR Professional Summ...,"<div class=""fontsize fontface vmargins hmargin...",Mid-level (5-10 yr),"Some college or university: trade school, asso...",NaN,NaN
1,YYCA2DXN94NG,0109f1e1-2d5e-40eb-8157-7641bd3bb97c,b810e5a3-f05d-4537-80c1-36350865f222,18997135,COURT APPOINTED SPECIAL ADVOCATE Summary Finan...,"<div class=""fontsize fontface vmargins hmargin...",Mid-level (5-10 yr),Bachelor's,N/A: Other Industry / Other Category,Law
2,J6TM2D4MANTG,543330a3-e182-4f05-87a9-56d965a92d2c,83e9c697-647d-4baf-a0ed-00f2133a0169,12092347,SALES ASSOCIATE Professional Summary Jack of a...,"<div class=""fontsize fontface vmargins hmargin...",Early career (2-5 yr),No mention of college or post high-school educ...,Retail / Manager or Store Keeper (includes cle...,NaN
3,PAEJPZXXTQ2M,0d4031c9-63e2-48d6-909e-23e885397966,b15a3a08-24f3-4a35-b0af-6baff37995c5,33627938,PERSONNEL SECURITY SPECIALIST Summary Dedicate...,"<div class=""fontsize fontface vmargins hmargin...","Senior (+10 yr, not executive)",Master's,N/A: Other Industry / Other Category,Safety and Security
4,6XA9X4RD9RAY,d6e3b6ca-8233-4433-878e-148eb79b6e2f,93a849e6-f2fd-430d-9fa5-09aa750b7115,27176039,ROUTE MANAGER Summary To obtaining a position ...,"<div class=""fontsize fontface vmargins hmargin...","Senior (+10 yr, not executive)","Some college or university: trade school, asso...",Retail / Manager or Store Keeper (includes cle...,NaN

In [414]:
columns=df_resume_3.columns

In [415]:
new_columns=[columns[4]]

In [416]:
df_resume_3=df_resume_3[new_columns]

In [417]:
df_resume_3=df_resume_3.rename(columns={'Resume_str': 'Resume'})

In [418]:
import re

# fonction qui extrait la premi√®re s√©quence de mots en majuscules`
def extract_cat(text):
    matches = re.findall(r'\b[A-Z&/][A-Z&/\s,]*[A-Z&/]\b', text)
    if matches:
        return matches[0]
    else:
        return None

In [419]:
df_resume_3['Category']= df_resume_3['Resume'].apply(extract_cat)
df_resume_3['Resume'] = df_resume_3.apply(lambda row: row['Resume'].replace(row['Category'], '') if pd.notnull(row['Category']) else row['Resume'], axis=1)

df_resume_3

,Resume,Category
0,Professional Summary [Job Title] with managem...,JOBS COORDINATOR / ESTIMATOR
1,Summary Financial professional who is a self-...,COURT APPOINTED SPECIAL ADVOCATE
2,Professional Summary Jack of all trades who e...,SALES ASSOCIATE
3,Summary Dedicated Security Specialist profess...,PERSONNEL SECURITY SPECIALIST
4,Summary To obtaining a position in a company ...,ROUTE MANAGER
...,...,...
570,Summary Seasoned Agriculture Teacher with mor...,ADULT EDUCATION INSTRUCTOR
571,Summary Dependable and resourceful Instructor...,INSTRUCTIONAL DESIGNER
572,Summary Candidate with a fifteen months exper...,ENGINEERING INTERN
573,Summary I have recently completed five years ...,QUALITY ASSURANCE ADVOCATE
574,Professional Summary A talented program desig...,PROGRAM MANAGER & DESIGNER

In [420]:
df_resume=pd.merge(df_resume, df_resume_3, on=['Resume', 'Category'], how='outer')

In [421]:
df_resume

,Resume,Category
0,Skills * Programming Languages: Python (pandas...,Data Science
1,Skills * Programming Languages: Python (pandas...,Data Science
2,Skills * Programming Languages: Python (pandas...,Data Science
3,Skills * Programming Languages: Python (pandas...,Data Science
4,Education Details \r\nMay 2013 to May 2017 B.E...,Data Science
...,...,...
4016,Summary Seasoned Agriculture Teacher with mor...,ADULT EDUCATION INSTRUCTOR
4017,Summary Dependable and resourceful Instructor...,INSTRUCTIONAL DESIGNER
4018,Summary Candidate with a fifteen months exper...,ENGINEERING INTERN
4019,Summary I have recently completed five years ...,QUALITY ASSURANCE ADVOCATE
4020,Professional Summary A talented program desig...,PROGRAM MANAGER & DESIGNER

In [430]:
df_resume['Category'].value_counts()

HR                                      156
INFORMATION-TECHNOLOGY                  120
BUSINESS-DEVELOPMENT                    120
CHEF                                    118
ADVOCATE                                118
                                       ...
HR CONSULTANT                             1
BILINGUAL DOMESTIC VIOLENCE ADVOCATE      1
BENEFIT ADVOCATE SUPERVISOR               1
SENIOR ENGINEERING PROGRAM MANAGER        1
PROGRAM MANAGER & DESIGNER                1
Name: Category, Length: 452, dtype: int64

# Dummy model with DummyClassifier from sklearn

In [387]:
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score

In [388]:
df = df_resume
df = df.dropna()

# Dictionnaire pour stocker les mod√®les avec diff√©rentes strat√©gies
dummy_models = {}
dummy_strategies = ['stratified', 'most_frequent', 'uniform', 'prior']

# Division en deux set d'entra√Ænement et de test
X_train, X_test, y_train, y_test = train_test_split(df['Resume'], df['Category'], test_size=0.2, random_state=42)


for strategy in dummy_strategies:
    dummy_model = DummyClassifier(strategy=strategy, random_state=42)
    dummy_models[strategy] = dummy_model

# Entra√Ænez et √©valuez les mod√®les
for strategy, model in dummy_models.items():
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    accuracy = accuracy_score(y_test, predictions)
    print(f"Accuracy for strategy '{strategy}': {accuracy:.2f}")

Accuracy for strategy 'stratified': 0.03
Accuracy for strategy 'most_frequent': 0.05
Accuracy for strategy 'uniform': 0.00
Accuracy for strategy 'prior': 0.05

# Mod√®le de R√©gression Logistique avec TF-IDF

In [390]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

df_resume_cleaned = df_resume.dropna(subset=['Resume', 'Category'])

X = df_resume_cleaned['Resume']
y = df_resume_cleaned['Category']

# Cr√©ation d'ensembles d'entra√Ænement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Cr√©ation d'une repr√©sentation TF-IDF des textes
tfidf_vectorizer = TfidfVectorizer(max_features=5000)
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)

# Entra√Ænement
logistic_regression_model = LogisticRegression(max_iter=500)
logistic_regression_model.fit(X_train_tfidf, y_train)

# Predict
predictions = logistic_regression_model.predict(X_test_tfidf)

# √©valation
accuracy = accuracy_score(y_test, predictions)
report = classification_report(y_test, predictions)

print("Accuracy:", accuracy)
print("Classification Report:\n", report)

Accuracy: 0.6069651741293532
Classification Report:
                                                                precision    recall  f1-score   support

                                            ACCOUNT EXECUTIVE       0.00      0.00      0.00         1
                                                   ACCOUNTANT       0.58      0.88      0.70        25
                                          ACCOUNTS PAYABLE AP       0.00      0.00      0.00         1
                      ADMINISTRATOR OF INFORMATION TECHNOLOGY       0.00      0.00      0.00         1
                                    ADVENTURE RUN COORDINATOR       0.00      0.00      0.00         1
                                                     ADVOCATE       0.43      0.50      0.46        32
                                                  AGRICULTURE       0.60      0.23      0.33        13
                                               AIRCRAFT SALES       0.00      0.00      0.00         1
                                                      APPAREL       0.44      0.19      0.27        21
                                                         ARTS       0.54      0.39      0.45        18
                                                   AUTOMOBILE       0.00      0.00      0.00         9
                                                     AVIATION       0.52      0.68      0.59        22
                                                 AVP, FINANCE       0.00      0.00      0.00         1
                                                     Advocate       1.00      0.60      0.75         5
                                                         Arts       0.71      1.00      0.83         5
                                           Automation Testing       1.00      0.88      0.93         8
                                                      BANKING       0.52      0.54      0.53        24
                                  BENEFIT ADVOCATE SUPERVISOR       0.00      0.00      0.00         1
                                                   BOOKSELLER       0.00      0.00      0.00         1
                                                          BPO       0.00      0.00      0.00         8
                                         BUSINESS-DEVELOPMENT       0.47      0.70      0.56        23
                                                   Blockchain       1.00      1.00      1.00        10
                                             Business Analyst       1.00      1.00      1.00         7
                               CASE MANAGER/OUTREACH ADVOCATE       0.00      0.00      0.00         1
                                                      CASHIER       0.00      0.00      0.00         1
                                                         CHEF       0.69      0.71      0.70        28
                                        CHILD FAMILY ADVOCATE       0.00      0.00      0.00         1
                                                 CONSTRUCTION       0.52      0.79      0.62        19
                                                   CONSULTANT       0.36      0.18      0.24        22
                                CONTRACTS AND FINANCE OFFICER       0.00      0.00      0.00         1
                                CORPORATE DIRECTOR OF FINANCE       0.00      0.00      0.00         1
                             COURT APPOINTED SPECIAL ADVOCATE       0.00      0.00      0.00         1
                                     CUSTOMER SERVICE MANAGER       0.00      0.00      0.00         1
                                               Civil Engineer       1.00      0.78      0.88         9
                                                     DESIGNER       0.71      0.52      0.60        23
                                                DIGITAL-MEDIA       0.50      0.50      0.50        14
                             DIRECTOR OF BUSINESS DEVELOPMENT       0.00      0.00      0.00         1
                                          DIRECTOR OF FINANCE       0.00      0.00      0.00         1
                           DIRECTOR OF INFORMATION TECHNOLOGY       0.00      0.00      0.00         1
                                                 Data Science       1.00      1.00      1.00        12
                                                     Database       1.00      1.00      1.00         6
                                              DevOps Engineer       1.00      1.00      1.00         3
                                             DotNet Developer       1.00      1.00      1.00         5
                                                  ENGINEERING       0.35      0.79      0.48        19
                                           ENGINEERING INTERN       0.00      0.00      0.00         3
                                          ENGINEERING MANAGER       0.00      0.00      0.00         3
                                 ENGINEERING PLANNING MANAGER       0.00      0.00      0.00         1
                                       ENGINEERING SUPERVISOR       0.00      0.00      0.00         1
                                       ENGINEERING TECHNICIAN       0.00      0.00      0.00         2
                                     ENGINEERING TECHNOLOGIST       0.00      0.00      0.00         1
                                                ETL Developer       1.00      1.00      1.00        13
                                       EXECUTIVE ASSISTANT HR       0.00      0.00      0.00         1
                                               EXECUTIVE CHEF       0.00      0.00      0.00         1
                   EXPERIENCED INFORMATION TECHNOLOGY MANAGER       0.00      0.00      0.00         1
                                       Electrical Engineering       1.00      1.00      1.00         4
                                                      FINANCE       0.26      0.48      0.34        21
                                           FINANCE ACCOUNTANT       0.00      0.00      0.00         1
                            FINANCE AND ACCOUNTING SPECIALIST       0.00      0.00      0.00         1
                                 FINANCE AND SALES CONSULTANT       0.00      0.00      0.00         1
                                          FINANCE COORDINATOR       0.00      0.00      0.00         1
                               FINANCE CUSTOMER CARE REP LEAD       0.00      0.00      0.00         1
                                              FINANCE MANAGER       0.00      0.00      0.00         6
                           FINANCE MANAGER / PLANT CONTROLLER       0.00      0.00      0.00         1
                                              FINANCE OFFICER       0.00      0.00      0.00         1
                       FINANCE OPERATIONS/ SUPERVISOR MANAGER       0.00      0.00      0.00         1
                                           FINANCE SPECIALIST       0.00      0.00      0.00         1
                                                      FITNESS       0.67      0.60      0.63        20
                                               FLIGHT MANAGER       0.00      0.00      0.00         1
                                            GRADUATE ENGINEER       0.00      0.00      0.00         1
                                                GROCERY CLERK       0.00      0.00      0.00         1
                                                   HEALTHCARE       0.33      0.58      0.42        24
                                                           HR       0.72      1.00      0.84        41
                                                HR CONSULTING       0.00      0.00      0.00         1
                           HR CUSTOMER SERVICE REPRESENTATIVE       0.00      0.00      0.00         1
                                                HR GENERALIST       0.00      0.00      0.00         1
                                                   HR PARTNER       0.00      0.00      0.00         1
                                                       Hadoop       1.00      1.00      1.00         8
                                           Health and fitness       1.00      1.00      1.00         5
                               INFORMATION TECHNOLOGY ANALYST       0.00      0.00      0.00         1
                           INFORMATION TECHNOLOGY COORDINATOR       0.00      0.00      0.00         1
                               INFORMATION TECHNOLOGY MANAGER       0.00      0.00      0.00         2
                       INFORMATION TECHNOLOGY MANAGER/ANALYST       0.00      0.00      0.00         1
                            INFORMATION TECHNOLOGY SPECIALIST       0.00      0.00      0.00         2
                          INFORMATION TECHNOLOGY SPECIALIST I       0.00      0.00      0.00         1
                                       INFORMATION-TECHNOLOGY       0.48      0.87      0.62        23
                                 JOBS COORDINATOR / ESTIMATOR       0.00      0.00      0.00         1
                                               Java Developer       1.00      1.00      1.00        15
                                                   KEY HOLDER       0.00      0.00      0.00         1
                                                 LEAD TEACHER       0.00      0.00      0.00         1
                              MANAGEMENT AND PROGRAM ANALYSIS       0.00      0.00      0.00         1
MANAGER ENGINEERING MANUFACTURING SYSTEMS ENGINEERING MANAGER       0.00      0.00      0.00         1
                MANAGER, DIGITAL MARKETING AND COMMUNICATIONS       0.00      0.00      0.00         1
                                 MECHANICAL ENGINEERING TUTOR       0.00      0.00      0.00         1
                                          Mechanical Engineer       1.00      1.00      1.00        11
                                    Network Security Engineer       1.00      1.00      1.00         5
                                           Operations Manager       1.00      1.00      1.00         5
                                                    PARALEGAL       0.00      0.00      0.00         1
                                      PASSENGER SERVICE AGENT       0.00      0.00      0.00         1
                                   PASSENGER SERVICES OFFICER       0.00      0.00      0.00         1
                               PATIENT SERVICE REPRESENTATIVE       0.00      0.00      0.00         1
                                             PERSONAL STYLIST       0.00      0.00      0.00         1
                                     PHD CANDIDATE IN FINANCE       0.00      0.00      0.00         1
                                                          PMO       1.00      1.00      1.00         4
                                           PR & EVENT MANAGER       0.00      0.00      0.00         1
                                          PRODUCT SPECIALISTS       0.00      0.00      0.00         1
                  PRODUCTION SUPERVISOR / VALUE STREAM LEADER       0.00      0.00      0.00         1
                                   PROGRAM MANAGER & DESIGNER       0.00      0.00      0.00         1
                                             PUBLIC-RELATIONS       0.60      0.92      0.73        13
                                             Python Developer       1.00      1.00      1.00        11
                                           RESEARCH SCIENTIST       0.00      0.00      0.00         1
                                              RN/RN TEAM LEAD       0.00      0.00      0.00         1
                                     S ENGINEERING INSTRUCTOR       0.00      0.00      0.00         1
                                                        SALES       0.28      0.52      0.37        21
                                      SALES / FINANCE MANAGER       0.00      0.00      0.00         1
                                                  SALES AGENT       0.00      0.00      0.00         1
                                              SALES ASSOCIATE       0.00      0.00      0.00         3
                                 SALES ASSOCIATE/MERCHANDISER       0.00      0.00      0.00         1
                                             SALES CONSULTANT       0.00      0.00      0.00         1
                                                    SALES REP       0.00      0.00      0.00         1
                                                SAP Developer       1.00      1.00      1.00         6
                                              SECURITY AIDE I       0.00      0.00      0.00         1
                             SENIOR CUSTOMER SERVICE ADVOCATE       0.00      0.00      0.00         1
                                SENIOR IMPLEMENTATION MANAGER       0.00      0.00      0.00         1
                                     SENIOR MATERIALS ANALYST       0.00      0.00      0.00         1
                                          SERVICE ADVOCATE IV       0.00      0.00      0.00         1
                                             SITE ENGINEERING       0.00      0.00      0.00         1
                                      SOFTWARE ENGINEERING CO       0.00      0.00      0.00         1
                                 SOFTWARE ENGINEERING MANAGER       0.00      0.00      0.00         2
                                                    SOUS CHEF       0.00      0.00      0.00         2
                                      SPECIAL FINANCE MANAGER       0.00      0.00      0.00         1
                                         SPECIALIST FOR WOMEN       0.00      0.00      0.00         1
                                       SPECIALIST OF INFANTRY       0.00      0.00      0.00         1
                                                           SR       0.00      0.00      0.00         1
                                                STORE MANAGER       0.00      0.00      0.00         1
                                  SUPPORT ENGINEERING MANAGER       0.00      0.00      0.00         1
                                                   SUSHI CHEF       0.00      0.00      0.00         2
                                                        Sales       1.00      1.00      1.00        10
                                                      TEACHER       0.52      0.74      0.61        19
                                        TRADE FINANCE OFFICER       0.00      0.00      0.00         1
                                TRANSITIONAL HOUSING ADVOCATE       0.00      0.00      0.00         1
                                                      Testing       1.00      1.00      1.00        10
                                                          VIP       0.00      0.00      0.00         1
                                                Web Designing       1.00      1.00      1.00        13

                                                     accuracy                           0.61       804
                                                    macro avg       0.24      0.26      0.24       804
                                                 weighted avg       0.54      0.61      0.56       804

/Users/mathieubartozzi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/mathieubartozzi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/mathieubartozzi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Text Classification with TF-IDF and Random Forest Model

In [391]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Removing the Nan
df_resume_cleaned = df_resume.dropna(subset=['Resume', 'Category'])

X = df_resume_cleaned['Resume']
y = df_resume_cleaned['Category']

# Diviser les donn√©es en ensembles d'entra√Ænement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Cr√©er une repr√©sentation TF-IDF des textes
tfidf_vectorizer = TfidfVectorizer(max_features=5000)
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)

# Entra√Æner un mod√®le de for√™t d'arbres d√©cisionnels
random_forest_model = RandomForestClassifier(n_estimators=100, random_state=42)
random_forest_model.fit(X_train_tfidf, y_train)

# Faire des pr√©dictions sur l'ensemble de test
predictions = random_forest_model.predict(X_test_tfidf)

# √âvaluer la performance du mod√®le
accuracy = accuracy_score(y_test, predictions)
report = classification_report(y_test, predictions)

print("Accuracy:", accuracy)
#print("Classification Report:\n", report)

Accuracy: 0.5771144278606966
Classification Report:
                                                                                      precision    recall  f1-score   support

                                                                  ACCOUNT EXECUTIVE       0.00      0.00      0.00         1
                                               ACCOUNT MANAGER/BUSINESS DEVELOPMENT       0.00      0.00      0.00         0
                                                                         ACCOUNTANT       0.74      0.92      0.82        25
                                                                ACCOUNTS PAYABLE AP       0.00      0.00      0.00         1
                                            ADMINISTRATOR OF INFORMATION TECHNOLOGY       0.00      0.00      0.00         1
                                                            ADULT EDUCATION TEACHER       0.00      0.00      0.00         0
                                                          ADVENTURE RUN COORDINATOR       0.00      0.00      0.00         1
                                                                           ADVOCATE       0.48      0.34      0.40        32
                                                                        AGRICULTURE       0.20      0.08      0.11        13
                                                                     AIRCRAFT SALES       0.00      0.00      0.00         1
                                                                            APPAREL       0.18      0.14      0.16        21
                                                                               ARTS       0.67      0.22      0.33        18
                                                                   ASSISTANT TO CFO       0.00      0.00      0.00         0
                                                     ASSISTANT TO MANAGING DIRECTOR       0.00      0.00      0.00         0
                                  ASSOCIATE CLAIM PROCESSOR/MEMBER SERVICE ADVOCATE       0.00      0.00      0.00         0
                                                        ASSOCIATE MANAGER OF DESIGN       0.00      0.00      0.00         0
                                                                         AUTOMOBILE       1.00      0.22      0.36         9
                                                                           AVIATION       0.40      0.36      0.38        22
                                                                       AVP, FINANCE       0.00      0.00      0.00         1
                                                                           Advocate       1.00      1.00      1.00         5
                                                                               Arts       1.00      1.00      1.00         5
                                                                 Automation Testing       1.00      1.00      1.00         8
                                                                            BANKING       0.60      0.62      0.61        24
                                                        BENEFIT ADVOCATE SUPERVISOR       0.00      0.00      0.00         1
                                                                         BOOKSELLER       0.00      0.00      0.00         1
                                                                                BPO       0.00      0.00      0.00         8
                                                               BRANCH ADMINISTRATOR       0.00      0.00      0.00         0
                                                               BUSINESS-DEVELOPMENT       0.46      0.48      0.47        23
                                                                         Blockchain       1.00      1.00      1.00        10
                                                                   Business Analyst       1.00      1.00      1.00         7
                                                     CASE MANAGER/OUTREACH ADVOCATE       0.00      0.00      0.00         1
                                                                            CASHIER       0.00      0.00      0.00         1
                                                                               CHEF       0.68      0.75      0.71        28
                                                              CHILD FAMILY ADVOCATE       0.00      0.00      0.00         1
                                            COMMUNITY RELATIONS ADVOCATE SUPERVISOR       0.00      0.00      0.00         0
                                                                       CONSTRUCTION       0.63      0.89      0.74        19
                                                                         CONSULTANT       0.57      0.18      0.28        22
                                                      CONTRACTS AND FINANCE OFFICER       0.00      0.00      0.00         1
                                                      CORPORATE DIRECTOR OF FINANCE       0.00      0.00      0.00         1
                                                                  COSTUMER SERVICES       0.00      0.00      0.00         0
                                                   COURT APPOINTED SPECIAL ADVOCATE       0.00      0.00      0.00         1
                                               CREATIVE DIRECTOR & FASHION DESIGNER       0.00      0.00      0.00         0
                                                          CREATIVE GRAPHIC DESIGNER       0.00      0.00      0.00         0
                                                       CUSTOMER CARE REPRESENTATIVE       0.00      0.00      0.00         0
                                                          CUSTOMER SERVICE ADVOCATE       0.00      0.00      0.00         0
                                                           CUSTOMER SERVICE MANAGER       0.00      0.00      0.00         1
                                                                     Civil Engineer       1.00      1.00      1.00         9
                                                                        DESIGNATION       0.00      0.00      0.00         0
                                                                           DESIGNER       0.65      0.57      0.60        23
                                                      DESIGNER / TECHNICAL DESIGNER       0.00      0.00      0.00         0
                                                                      DIGITAL-MEDIA       0.62      0.57      0.59        14
                                                   DIRECTOR OF BUSINESS DEVELOPMENT       0.00      0.00      0.00         1
                                                            DIRECTOR OF ENGINEERING       0.00      0.00      0.00         0
                                                                DIRECTOR OF FINANCE       0.00      0.00      0.00         1
                                                                     DIRECTOR OF HR       0.00      0.00      0.00         0
                                                 DIRECTOR OF INFORMATION TECHNOLOGY       0.00      0.00      0.00         1
                                      DOMESTIC VIOLENCE AND SEXUAL ASSAULT ADVOCATE       0.00      0.00      0.00         0
                                                                       Data Science       1.00      1.00      1.00        12
                                                                           Database       1.00      1.00      1.00         6
                                                                    DevOps Engineer       1.00      1.00      1.00         3
                                                                   DotNet Developer       1.00      1.00      1.00         5
                                                                        ENGINEERING       0.25      0.37      0.30        19
                                                              ENGINEERING ASSISTANT       0.00      0.00      0.00         0
                                                                 ENGINEERING INTERN       0.00      0.00      0.00         3
                                                                ENGINEERING MANAGER       0.00      0.00      0.00         3
                                                       ENGINEERING PLANNING MANAGER       0.00      0.00      0.00         1
                                                             ENGINEERING SUPERVISOR       0.00      0.00      0.00         1
                                                             ENGINEERING TECHNICIAN       0.00      0.00      0.00         2
                                                           ENGINEERING TECHNOLOGIST       0.00      0.00      0.00         1
                                                                      ETL Developer       1.00      1.00      1.00        13
                                                             EXECUTIVE ASSISTANT HR       0.00      0.00      0.00         1
                                                                     EXECUTIVE CHEF       0.00      0.00      0.00         1
                                         EXPERIENCED INFORMATION TECHNOLOGY MANAGER       0.00      0.00      0.00         1
                                                             Electrical Engineering       1.00      1.00      1.00         4
                                                                            FINANCE       0.22      0.38      0.28        21
                                                                 FINANCE ACCOUNTANT       0.00      0.00      0.00         1
                                                  FINANCE AND ACCOUNTING SPECIALIST       0.00      0.00      0.00         1
                                                       FINANCE AND SALES CONSULTANT       0.00      0.00      0.00         1
                                                                 FINANCE CONTROLLER       0.00      0.00      0.00         0
                                                                FINANCE COORDINATOR       0.00      0.00      0.00         1
                                                     FINANCE CUSTOMER CARE REP LEAD       0.00      0.00      0.00         1
                                                                   FINANCE DIRECTOR       0.00      0.00      0.00         0
                                                                    FINANCE MANAGER       0.00      0.00      0.00         6
                                                 FINANCE MANAGER / PLANT CONTROLLER       0.00      0.00      0.00         1
                                                                    FINANCE OFFICER       0.50      1.00      0.67         1
                                             FINANCE OPERATIONS/ SUPERVISOR MANAGER       0.00      0.00      0.00         1
                                                        FINANCE PROJECT COORDINATOR       0.00      0.00      0.00         0
                                                                 FINANCE SPECIALIST       0.00      0.00      0.00         1
                                                     FINANCIAL INSTITUTION EXAMINER       0.00      0.00      0.00         0
                                                                            FITNESS       0.65      0.75      0.70        20
                                                                     FLIGHT MANAGER       0.00      0.00      0.00         1
                                                                      FORCE ANALYST       0.00      0.00      0.00         0
                                                                    GC HEAD HOSTESS       0.00      0.00      0.00         0
                                                          GLOBAL FINANCE ACCOUNTANT       0.00      0.00      0.00         0
                                                                  GRADUATE ENGINEER       0.00      0.00      0.00         1
                                                                      GROCERY CLERK       0.00      0.00      0.00         1
                                                                   GUNNERY SERGEANT       0.00      0.00      0.00         0
                                                                         HEALTHCARE       0.41      0.71      0.52        24
                                                                                 HR       0.75      0.73      0.74        41
                                                                   HR ADMINISTRATOR       0.00      0.00      0.00         0
                                                                      HR CONSULTING       1.00      1.00      1.00         1
                                                                     HR COORDINATOR       0.00      0.00      0.00         0
                                                 HR CUSTOMER SERVICE REPRESENTATIVE       0.00      0.00      0.00         1
                                                                        HR DIRECTOR       0.00      0.00      0.00         0
                                                                       HR EXECUTIVE       0.00      0.00      0.00         0
                                                                      HR GENERALIST       0.00      0.00      0.00         1
                                                                         HR MANAGER       0.00      0.00      0.00         0
                                                                         HR PARTNER       0.00      0.00      0.00         1
                                                                             Hadoop       1.00      1.00      1.00         8
                                                                 Health and fitness       1.00      1.00      1.00         5
                                                             INFORMATION TECHNOLOGY       0.00      0.00      0.00         0
                                                     INFORMATION TECHNOLOGY ANALYST       0.00      0.00      0.00         1
                                                     INFORMATION TECHNOLOGY AUDITOR       0.00      0.00      0.00         0
                                        INFORMATION TECHNOLOGY CERTIFIED TECHNICIAN       0.00      0.00      0.00         0
                                                 INFORMATION TECHNOLOGY COORDINATOR       0.00      0.00      0.00         1
                                                     INFORMATION TECHNOLOGY MANAGER       0.00      0.00      0.00         2
                                             INFORMATION TECHNOLOGY MANAGER/ANALYST       0.00      0.00      0.00         1
                                                  INFORMATION TECHNOLOGY SPECIALIST       0.00      0.00      0.00         2
                                                INFORMATION TECHNOLOGY SPECIALIST I       0.00      0.00      0.00         1
                                                             INFORMATION-TECHNOLOGY       0.42      0.70      0.52        23
                                                             INSTRUCTIONAL DESIGNER       0.00      0.00      0.00         0
                                                                  INSTRUCTOR/WRITER       0.00      0.00      0.00         0
                                                                      IT CONSULTANT       0.00      0.00      0.00         0
                                                       JOBS COORDINATOR / ESTIMATOR       1.00      1.00      1.00         1
                                                                     Java Developer       0.94      1.00      0.97        15
                                                                         KEY HOLDER       0.00      0.00      0.00         1
                                                                            LABORER       0.00      0.00      0.00         0
                                                          LEAD MAINTENANCE MECHANIC       0.00      0.00      0.00         0
                                                                       LEAD TEACHER       0.00      0.00      0.00         1
LEVEL ASSISTANT STORE MANAGER, OPERATIONS MANAGER MANAGER, SALES & SERVICES MANAGER       0.00      0.00      0.00         0
                                                    MANAGEMENT AND PROGRAM ANALYSIS       0.00      0.00      0.00         1
                      MANAGER ENGINEERING MANUFACTURING SYSTEMS ENGINEERING MANAGER       0.00      0.00      0.00         1
                                                                 MANAGER OF FINANCE       0.00      0.00      0.00         0
                                                    MANAGER, CONTINUOUS IMPROVEMENT       0.00      0.00      0.00         0
                                      MANAGER, DIGITAL MARKETING AND COMMUNICATIONS       0.00      0.00      0.00         1
                                           MANUFACTURING TECHNICIAN OPS COORDINATOR       0.00      0.00      0.00         0
                                                                  MARKET CONSULTANT       0.00      0.00      0.00         0
                                                                MECHANICAL ENGINEER       0.00      0.00      0.00         0
                                                       MECHANICAL ENGINEERING TUTOR       0.00      0.00      0.00         1
                                                                Mechanical Engineer       1.00      1.00      1.00        11
                            NATIONAL MARINE FISHERIES SERVICE NMFS SPECIES OBSERVER       0.00      0.00      0.00         0
                                                          Network Security Engineer       1.00      1.00      1.00         5
                                                        OPERATIONS FINANCE DIRECTOR       0.00      0.00      0.00         0
                                                                 Operations Manager       1.00      1.00      1.00         5
                                                                          PARALEGAL       0.00      0.00      0.00         1
                                                            PASSENGER SERVICE AGENT       0.00      0.00      0.00         1
                                                         PASSENGER SERVICES OFFICER       0.00      0.00      0.00         1
                                                         PATIENT EXPERIENCE MANAGER       0.00      0.00      0.00         0
                                                     PATIENT SERVICE REPRESENTATIVE       0.00      0.00      0.00         1
                                                                   PERSONAL STYLIST       0.00      0.00      0.00         1
                                                           PHD CANDIDATE IN FINANCE       0.00      0.00      0.00         1
                                         PLANT PROTECTION AND QUARANTINE TECHNICIAN       0.00      0.00      0.00         0
                                                                                PMO       1.00      1.00      1.00         4
                                                                 PR & EVENT MANAGER       0.00      0.00      0.00         1
                                                                PRODUCT SPECIALISTS       0.00      0.00      0.00         1
                                                            PRODUCTION CONTROL / SR       0.00      0.00      0.00         0
                                        PRODUCTION SUPERVISOR / VALUE STREAM LEADER       0.00      0.00      0.00         1
                                                         PROGRAM MANAGER & DESIGNER       0.00      0.00      0.00         1

/Users/mathieubartozzi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/mathieubartozzi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/mathieubartozzi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/mathieubartozzi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/mathieubartozzi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/mathieubartozzi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))